*{ margin:   0;padding: 0; box-sizing: border-box;}

body {
  font-family: Arial;
  color: black;
}

.text {
  font-family: sans-serif !important;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 9px 26px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.buttonSignIn {
  border-radius: 30px;
}

.buttonSignUp {
  border-radius: 30px;
}

.title-of-page {
  padding-top: 3%;
  margin-left: 9%;
  color: black;
  font-weight: bold;
}

.greetings {
  margin-left: 12%;
  margin-right: 5%;
  margin-top: 1%;
}

.card {
  display: flex;
  margin-left: 9%;
  flex-direction: row;
  justify-items: normal;
  border: 4px groove rgba(255, 228, 220, 0.7);
}

.containerPageDim{
  margin: 0;
  max-width: 98rem;
  width: 100%;
  height: 100%;
}

.navList {
  margin-top: 0;
  padding-top: 4rem;
  padding-right: 0;
  padding-left: 4;
  background-color: rgba(168, 211, 244, 0.25);
  height: 45rem;
}

.side-items {
  background-color: rgba(168, 211, 244, 0.01);
  padding-top: 1.5rem;
  height: 4.5rem;
  font-size: 1.3rem;
  border: 0;
}

.frontPage {
  padding: 0;
}

#addForm {
  display: none;
}



