*{ margin:   0;padding: 0; box-sizing: border-box;}

body {
  font-family: Arial;
  color: black;
}

.button-for-sign-up-sign-in {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 9px 26px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
}

.page-title {
  padding-top: 18px;
  margin-left: 78px;
  color: black;
  font-weight: bold;
}

.container{
  margin: auto;
  max-width: 2900px;
  overflow: auto;
  padding: 0 20px;
}

.navList {
  margin-top: 0;
  padding-top: 80px;
  padding-right: 0;
  padding-left: 4;
  background-color: rgba(168, 211, 244, 0.25);
  overflow: auto;
}

.side-items {
  background-color: rgba(168, 211, 244, 0.01);
  padding-top: 1.5rem;
  height: 4.5rem;
  font-size: 1.3rem;
  border: 0;
}

.front-page {
  padding: 0;
}

.edit-delete-button{
  display: inline !important;
  margin-left: 121px;
}

.input-valid {
  color:red;
}

.fa-asterisk:before {
  content: "\f069";
  font-size: xx-small;
}

.card-body {
  float: left;
  list-style: none;
  border-radius: 0px;
  box-shadow: 2px 2px 2px 2px rgb(196, 196, 196);
  border-color: #666;
  border-width: 4px;
  max-height: 300px;
  font-size: small;
}

.card-contents {
  border: none !important;
  float: left;
  margin-left: 67px;
  max-height: 300px;
}

.card {
  max-height: 200px;
}

